<section class="container">
	<section class="main">
		<section class="p-title">
			<h1><u>Contact Us</u></h1>
		</section>
		<section class="content">
			<section class="address">
				<h2>Address</h2>
				<address>Near Street No. 13, <br>Main Market Road,<br>Wazirabad Village,<br>Delhi - 110084</address>
				<h2>Contact No.</h2>
				<div>9911450981, 8851012480</div>
				<h2>Email Address</h2>
				<div>priyanshiritu786@gmail.com</div>
			</section>
			<section class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13995.053632106417!2d77.2233909!3d28.7266158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9217cb9431a816c!2sOM+SAI+ACADEMY!5e0!3m2!1sen!2sin!4v1523691986670" frameborder="0" style="border:0" allowfullscreen></iframe>
			</section>

		</section>
	</section>
</section>