<section class="container">
	<section class="main">
		<section class="p-title">
			<h1><u>About Us</u></h1>
		</section>
		<section class="content">
			Education is the fundamental means of human development. By it the inate power of human beings are developed their knowledge and skills are enhanced their behaviour is changed and they are made civilized and cultured citizens<br>

			<br>

			    <b>According to <br><br>Jagadguru Shankaracharya :-</b><br>
			    <b><i>&ldquo; Sa Vidya Ya Vimuktaya &rdquo;</i></b><br>
			      (means education is what Emancipates)


			<br><br>

			    <b>Swami Vivekanand :-</b><br>
			    <b><i>&ldquo; Education is manifestation of perfection always present in man &rdquo;</i></b>

			<br><br>

			    <b>Mahatma Gandhi :-</b><br>
			    <b><i>&ldquo; By education I mean all round drawing out of the best in child and manbody ,mind and spirit. &rdquo;</i></b>


			<br><br>

			    <b>Plato :-</b><br>
			    <b><i>&ldquo; Education consists in giving to the body and soul all the perfection to which they are susceptible &rdquo;</i></b>


			<br><br>

			Thus the aim of education is such a statement which indicates an ideal condition of desirable change, such a ideal condition which cannot be bound in Limits
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;So thats why <u><b>Motive</b></u> behind establishing this institution are :-

			<ul>
			    <li>To give a new way of teaching</li>
			    <li>Imparting proper teaching learning enviroment to out students </li>
			    <li>All round development of each individual lerner</li>
			    <li>Make strong foundation of every child so that they can achive higher goal in their life</li>
			    <li>Help every student to evaluate a new world of knowledge by themself </li>
			</ul>

			<br>
			<b><u>Goal</u></b>
			<br>
			Our Goal is to take the teaching-learning process at a new height
			<br>
			<br>
			Give keen importance to the carrier of future generation to make this nation ideal for the world

			<br><br>

			<b><u><i>&ldquo; We Change The Mentality Of Student So That They Can Achieve Their Ambitions&rdquo;</i></u></b>
		</section>
	</section>
</section>