<footer>
	<br>
	<section class="address">
		<address>Near Street No.13 Main Market Road <br>	Wazirabad village <br>	New Delhi -110084 <br><br> Ph. 9599016074 , 9911450981</address>
	</section>
	<section class="sitemap">
		<button mat-button>Home</button>
		<button mat-button>About Us</button>
		<button mat-button>Courses</button>
		<button mat-button>Batch Schedule</button>
		<button mat-button>Faculty</button>
		<button mat-button>Photo Gallery</button>
		<button mat-button>Fee Structure</button>
		<button mat-button>Downloads</button>
		<button mat-button>Contact Us</button>
	</section>
	<section class="credit">
		<a href="https://www.vishalpandey.xyz">This Site is build By Vishal Pandey </a>
	</section>
</footer>