<section class="container">
	<section class="main">
		<section class="p-title">
			<h1><u>Gallery</u></h1>
		</section>
		<section class="content">
			<ngu-carousel [inputs]="carouselOne" >
        <ngu-item NguCarouselItem *ngFor="let img of slider" class="sliderImg">
        	<img src="http://api.omsaiacademy.com/gallery/slider/{{img}}">
        </ngu-item>
        <button NguCarouselPrev class='leftRs'>&lt;</button>
        <button NguCarouselNext class='rightRs'>&gt;</button>
	    </ngu-carousel>
    	<h2 style="text-align: center; font-size: 18px;">Other Images</h2>
	    <section class="otherImages">
	    	<div class="otherImg" *ngFor="let img of other">
	    		<img src="http://api.omsaiacademy.com/gallery/other/{{img}}">
	    	</div>
	    </section>
		</section>
	</section>
</section>





