<section class="container">
	<section class="main">
		<section class="p-title">
			<h1><u>OM SAI ACADEMY</u></h1>
		</section>
		<section class="courses">
			<div class="course"><img src="http://www.omsaiacademy.com/pic/spoken.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/competitive_english.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/interview.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/group_diss1.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/academic1.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/academic2.jpg"></div>
			<div class="course"><img src="http://www.omsaiacademy.com/pic/academic3.jpg"></div>
		</section>
		<section class="founder-message">
			<h2>Founder's Message</h2>
			<div>
				<h4>Founder's Message</h4>

        <img src="http://www.omsaiacademy.com/sunil.jpg" style="float: right; width: 110px; height: 130px; border-style: solid; border-radius: 15px; ">
        <b>Hi</b> <br>
        This is Sunil Chaudhary, I am here for a special thing that why I started this institute <a href="http://www.omsaiacademy.com"> Om Sai Academy</a> (OSA). 
        When I was preparing for some competitive exams at that time I met many aspirants of UPSC & SSC maximum students of them were curious to earn money at any cost At that time I thought that If they think these things before getting service, What would they do after getting service. I thought, they must paralyse the system of of India.<br>
        After a long discussion I found that the main reason behind that was wrong thinking, because of lack of moral education, which is given by family, society and teachers. At the same time I realised that Teacher is such a person who can change the thinking of student if he/she wants.<br><br>

        That's why <br>
        I decided to be a teacher and opened <a href="http://www.omsaiacademy.com"> Om Sai Academy</a>,
        <br><br>
        A teacher is not evaluated by only degree but also by the way of teaching by that teacher can change the face of society that's why teachers are respected in our country than the others I want to request All teachers of my country please remember your target behind being a teacher and try to change the thinking of young India so that our country can touch the sky.
        <br><br>  
        We keep blaming leaders but tell me one thing who made them a leader ? We people of india made them and who is responsible for this.<br>
        <br>
        I think, Teachers are responsible because They are not being able to make our society capable of taking right decision at right time.<br><br>

        Once again I request all the teachers of India that please think about India and India's martiyar.
        Why ?  They gave us Freedom and please do your work. <br><br> 

       <b> "&#2325;&#2381;&#2351;&#2379;&#2325;&#2367; &#2351;&#2375; &#2342;&#2375;&#2358; &#2361;&#2350;&#2366;&#2352;&#2366; &#2361;&#2376; &#2324;&#2352; &#2361;&#2350;&#2375;&#2306; &#2361;&#2368; &#2311;&#2360;&#2375; &#2344;&#2312; &#2342;&#2367;&#2358;&#2366;&#2319; &#2324;&#2352; &#2346;&#2361;&#2330;&#2366;&#2344; &#2342;&#2375;&#2344;&#2368; &#2361;&#2376;" </b>
			</div>
		</section>
	</section>
</section>