.container{
	width: 100%;
	background-color: rgb(240,240,240);
}

.main{
	max-width: 1000px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.p-title{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.p-title h1{
	margin: 0;
	font-size: 18px;
	color: #004D40;
}
.courses{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.course{
	width: 45%;
}
.course img{
	width: 100%;
	border: 15px solid #00BFA5;
}
.founder-message{
	width: 100%;
	padding: 20px;
}